@using System.Web.UI.WebControls
@model IEnumerable<MVCSmartClient01.Models.fDataOrganisasiByRek_Type_Result>

@Html.DevExpress().GridView(
settings =>
{
    settings.Name = "_DataOrganisasiByRek";
    settings.CallbackRouteValues = new { Controller = "TrxDataOrganisasi", Action = "_GetByRekanan" };
    settings.Width = Unit.Percentage(70);

    settings.SetStatusBarTemplateContent(c =>
    {
        ViewContext.Writer.Write(
            "<span id=\"lblLoading\">&nbsp;</span>"
            );
    });
    settings.SetEmptyDataRowTemplateContent(c =>
    {
        ViewContext.Writer.Write(
            "No data"
            );
    });

    settings.KeyFieldName = "IdJudul";
    //DISPLAY ROW NUMBER
    settings.Columns.Add(column =>
    {
        column.FieldName = "No.";
        column.UnboundType = DevExpress.Data.UnboundColumnType.Integer;
        column.Width = 10;
        column.Settings.AllowAutoFilter = DefaultBoolean.False;
        settings.ControlStyle.Font.Size = 11;
    });
    settings.CustomColumnDisplayText = (sender, e) =>
    {
        if (e.Column.FieldName == "No.")
        {
            e.DisplayText = (e.VisibleRowIndex + 1).ToString();
        }
    };
    settings.Columns.Add(column =>
    {
        column.FieldName = "Judul";
        column.HeaderStyle.Font.Bold = true;
        column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        column.Settings.ShowFilterRowMenu = DevExpress.Utils.DefaultBoolean.False;
        settings.ControlStyle.Font.Size = 11;
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "Jumlah";
        column.HeaderStyle.Font.Bold = true;
        column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        column.Settings.ShowFilterRowMenu = DevExpress.Utils.DefaultBoolean.False;
        settings.ControlStyle.Font.Size = 11;
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "Urut";
        column.SortOrder = DevExpress.Data.ColumnSortOrder.Ascending;
        column.EditCellStyle.CssClass = "hiddencol";
        column.CellStyle.CssClass = "hiddencol";
        column.HeaderStyle.CssClass = "hiddencol";
    });
    settings.SettingsDetail.ShowDetailRow = true;
    settings.SettingsDetail.AllowOnlyOneMasterRowExpanded = false;

    settings.SetDetailRowTemplateContent(c =>
    {
        if ((int)DataBinder.Eval(c.DataItem, "IdJudul") == 1)
        {
            Html.RenderAction("_ManagementByRek", new
            {
                JudulForm = DataBinder.Eval(c.DataItem, "Judul")
            });
        }
        if ((int)DataBinder.Eval(c.DataItem, "IdJudul") == 2)
        {
            Html.RenderAction("_BranchByRek");
        }
        if ((int)DataBinder.Eval(c.DataItem, "IdJudul") == 3)
        {
            Html.RenderAction("_OwnershipByRek");
        }
        if ((int)DataBinder.Eval(c.DataItem, "IdJudul") == 4)
        {
            Html.RenderAction("_AsistenByRek");
        }
        if ((int)DataBinder.Eval(c.DataItem, "IdJudul") == 5)
        {
            Html.RenderAction("_GetTenagaAhliByRek", "TrxDocMandatoryDetail");
        }
        if ((int)DataBinder.Eval(c.DataItem, "IdJudul") == 6)
        {
            Html.RenderAction("_GetTenagaAhliTTByRek", "TrxDocMandatoryDetail");
        }
        if ((int)DataBinder.Eval(c.DataItem, "IdJudul") == 7)
        {
            Html.RenderAction("_ContactByRek");
        }
        if ((int)DataBinder.Eval(c.DataItem, "IdJudul") == 8)
        {
            Html.RenderAction("_TPendukungUploadByRek", "TrxTenagaAhliHeader");
        }
        if ((int)DataBinder.Eval(c.DataItem, "IdJudul") == 9)
        {
            Html.RenderAction("_NotarisItemByRek", new
            {
                JudulForm = DataBinder.Eval(c.DataItem, "Judul")
            });
        }
    });

}).Bind(Model).GetHtml()
<style>
    .hiddencol {
        display: none;
    }
</style>