@using System.Web.UI.WebControls
@model IEnumerable<MVCSmartClient01.Models.trxOwnership>
@{
    var callbackRouteValues = new { Controller = "TrxOwnership", Action = "_OwnershipByRek" };
}

@Html.DevExpress().GridView(
settings =>
{
    settings.Name = "_RekananDocByRek";
    settings.Settings.ShowGroupPanel = true;
    settings.Settings.ShowGroupedColumns = true;

    settings.Settings.ShowFilterRow = true;
    settings.Settings.ShowFilterRowMenu = false;
    settings.CallbackRouteValues = new { Controller = "TrxOwnership", Action = "_OwnershipByRek" };
    settings.Width = Unit.Percentage(100);

    settings.SetStatusBarTemplateContent(c =>
    {
        ViewContext.Writer.Write(
            "<span id=\"lblLoading\">&nbsp;</span>"
            );
    });
    settings.SetEmptyDataRowTemplateContent(c =>
    {
        ViewContext.Writer.Write(
            "No data"
            );
    });

//    settings.Columns.Add(column =>
//    {
//        column.Caption = "#";
//        column.SetDataItemTemplateContent(c =>
//        {
//            ViewContext.Writer.Write(
//                    "<table><tr><td>" +
//                Html.ActionLink(" ", "Edit", "MstRekanan", new { href = "#", @class = "updateLink", title = "Update", onClick = string.Format("return pageMan.EditEntry(this,event,'{0}');", DataBinder.Eval(c.DataItem, "IdRekanan")) }) +
//"</td><td>" +
//                Html.ActionLink(" ", "InlineEditingDeletePartial", "MstRekanan",
//                    new { @class = "deleteLink", title = "Delete", href = string.Format("javascript:pageMan.DeleteEntry('{0}');", DataBinder.Eval(c.DataItem, "IdRekanan")) }) + "</td></tr></table>"
//            );
//        });
//        column.SetHeaderTemplateContent(c =>
//        {
//            ViewContext.Writer.Write(
//                Html.ActionLink(" ", "Create", "MstRekanan", new { @class = "newLink", title = "Add new", href = "#", onClick = "pageMan.AddNewEntry(this,event); return false;" }).ToHtmlString());
//        });
//        column.Width = 70;
//    });

    settings.KeyFieldName = "IdOwnership";
    //DISPLAY ROW NUMBER
    settings.Columns.Add(column =>
    {
        column.FieldName = "No.";
        column.UnboundType = DevExpress.Data.UnboundColumnType.Integer;
        column.Width = 10;
        column.Settings.AllowAutoFilter = DefaultBoolean.False;
    });
    settings.CustomColumnDisplayText = (sender, e) =>
    {
        if (e.Column.FieldName == "No.")
        {
            e.DisplayText = (e.VisibleRowIndex + 1).ToString();
        }
    };
    //settings.Columns.Add(column =>
    //{
    //    column.FieldName = "IdTypeOfDocument";
    //    column.Caption = "Tipe Dokumen";
    //    column.HeaderStyle.Font.Bold = true;
    //    column.ColumnType = MVCxGridViewColumnType.ComboBox;
    //    var comboBoxProperties = (DevExpress.Web.ASPxEditors.ComboBoxProperties)column.PropertiesEdit;
    //    comboBoxProperties.ClientSideEvents.Init = "function(s, e) {s.InsertItem(0, '(ALL)', '');}";
    //    comboBoxProperties.DataSource = Model.TypeOfDocumentColls;
    //    comboBoxProperties.TextField = "Name";
    //    comboBoxProperties.ValueField = "IdTypeOfDocument";
    //    comboBoxProperties.ValueType = typeof(int);
    //});
    settings.Columns.Add(column =>
    {
        column.FieldName = "Name";
        column.HeaderStyle.Font.Bold = true;
        column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        column.Settings.ShowFilterRowMenu = DevExpress.Utils.DefaultBoolean.False;
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "Title";
        column.HeaderStyle.Font.Bold = true;
        column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        column.Settings.ShowFilterRowMenu = DevExpress.Utils.DefaultBoolean.False;
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "KTP";
        column.HeaderStyle.Font.Bold = true;
        column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        column.Settings.ShowFilterRowMenu = DevExpress.Utils.DefaultBoolean.False;
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "KTPEndDate";
        column.HeaderStyle.Font.Bold = true;
        column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        column.Settings.ShowFilterRowMenu = DevExpress.Utils.DefaultBoolean.False;
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "Sertifikasi";
        column.HeaderStyle.Font.Bold = true;
        column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        column.Settings.ShowFilterRowMenu = DevExpress.Utils.DefaultBoolean.False;
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "PercentSaham";
        column.HeaderStyle.Font.Bold = true;
        column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        column.Settings.ShowFilterRowMenu = DevExpress.Utils.DefaultBoolean.False;
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "NominalSaham";
        column.HeaderStyle.Font.Bold = true;
        column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        column.Settings.ShowFilterRowMenu = DevExpress.Utils.DefaultBoolean.False;
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "IsKeyPerson";
        column.HeaderStyle.Font.Bold = true;
        column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        column.Settings.ShowFilterRowMenu = DevExpress.Utils.DefaultBoolean.False;
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "NPWP";
        column.HeaderStyle.Font.Bold = true;
        column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        column.Settings.ShowFilterRowMenu = DevExpress.Utils.DefaultBoolean.False;
    });

}).Bind(Model).GetHtml()
