<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login Page</title>
    <style>
        div.demo {
            display: table;
            width: 100%;
            table-layout: fixed; /* For cells of equal size */
        }
    </style>
</head>

<body>
    <div class="demo">
        <img style="height: 100%; width: 100%;" src="~/Content/Images/foto smart-051KMG.png">
    </div>
</body>

</html>