@using System.Web.UI.WebControls
@model MVCSmartClient01.Models.trxDetailPekerjaanHeader

@{
    ViewBag.Title = "Index";
}

@Html.DevExpress().GridView(
settings =>
{
    settings.Name = "_DetailPekerjaan";
    settings.Settings.ShowGroupPanel = true;
    settings.Settings.ShowGroupedColumns = true;

    settings.Settings.ShowFilterRow = true;
    settings.Settings.ShowFilterRowMenu = false;
    settings.CallbackRouteValues = new { Controller = "TrxDetailPekerjaan", Action = "_GetByRekanan" };
    settings.Width = Unit.Percentage(100);
    settings.SettingsPager.PageSize = 20;
    
    settings.SetStatusBarTemplateContent(c =>
    {
        ViewContext.Writer.Write(
            "<span id=\"lblLoading\">&nbsp;</span>"
            );
    });
    settings.SetEmptyDataRowTemplateContent(c =>
    {
        ViewContext.Writer.Write(
            "No data"
            );
    });

    settings.Columns.Add(column =>
    {
        column.Caption = "#";
        column.SetDataItemTemplateContent(c =>
        {
            ViewContext.Writer.Write(
                "<table><tr><td>" +
                Html.ActionLink("Edit", "_AddEditDetail", new { @class = "updateLink", IdData = DataBinder.Eval(c.DataItem, "IdDetailPekerjaan") }) + "&nbsp;" +
                "</td><td>" +
                Html.ActionLink("Delete", "_Delete", new { @class = "deleteLink", IdData = DataBinder.Eval(c.DataItem, "IdDetailPekerjaan") },
                    new { onclick = "return confirm('Apakah Anda yakin akan menghapus data ini ?')" })
                + "</td></tr></table>"
            );
        });
        column.SetHeaderTemplateContent(c =>
        {
            ViewContext.Writer.Write(
                Html.ActionLink("New", "_AddEditDetail", new { IdData = -1 }).ToHtmlString()
            );
        });
        column.Width = 70;
    });

    settings.KeyFieldName = "IdDetailPekerjaan";
    //DISPLAY ROW NUMBER
    settings.Columns.Add(column =>
    {
        column.FieldName = "No.";
        column.UnboundType = DevExpress.Data.UnboundColumnType.Integer;
        column.Width = 10;
        column.Settings.AllowAutoFilter = DefaultBoolean.False;
    });
    settings.CustomColumnDisplayText = (sender, e) =>
    {
        if (e.Column.FieldName == "No.")
        {
            e.DisplayText = (e.VisibleRowIndex + 1).ToString();
        }
    };
    //settings.Columns.Add(column =>
    //{
    //    column.FieldName = "IdTypeOfDocument";
    //    column.Caption = "Tipe Dokumen";
    //    column.HeaderStyle.Font.Bold = true;
    //    column.ColumnType = MVCxGridViewColumnType.ComboBox;
    //    var comboBoxProperties = (DevExpress.Web.ASPxEditors.ComboBoxProperties)column.PropertiesEdit;
    //    comboBoxProperties.ClientSideEvents.Init = "function(s, e) {s.InsertItem(0, '(ALL)', '');}";
    //    comboBoxProperties.DataSource = Model.TypeOfDocumentColls;
    //    comboBoxProperties.TextField = "Name";
    //    comboBoxProperties.ValueField = "IdTypeOfDocument";
    //    comboBoxProperties.ValueType = typeof(int);
    //});
    //settings.Columns.Add(column =>
    //{
    //    column.FieldName = "TahunLaporan";
    //    column.Caption = "Thn";
    //    column.HeaderStyle.Font.Bold = true;
    //    column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
    //    column.Settings.ShowFilterRowMenu = DevExpress.Utils.DefaultBoolean.False;
    //});
    //settings.Columns.Add(column =>
    //{
    //    column.FieldName = "BulanLaporan";
    //    column.Caption = "Bln";
    //    column.HeaderStyle.Font.Bold = true;
    //    column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
    //    column.Settings.ShowFilterRowMenu = DevExpress.Utils.DefaultBoolean.False;
    //});
    settings.Columns.Add(column =>
    {
        column.FieldName = "DebiturName";
        column.Caption = "Nama Debitur";
        column.HeaderStyle.Font.Bold = true;
        column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        column.Settings.ShowFilterRowMenu = DevExpress.Utils.DefaultBoolean.False;
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "DebiturLocation";
        column.Caption = "Lokasi";
        column.HeaderStyle.Font.Bold = true;
        column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        column.Settings.ShowFilterRowMenu = DevExpress.Utils.DefaultBoolean.False;
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "BidangUsahaDebitur";
        column.HeaderStyle.Font.Bold = true;
        column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        column.Settings.ShowFilterRowMenu = DevExpress.Utils.DefaultBoolean.False;
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "TotalAsetPerusahaan";
        column.HeaderStyle.Font.Bold = true;
        column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        column.Settings.ShowFilterRowMenu = DevExpress.Utils.DefaultBoolean.False;
        column.Visible = !(Model.IsNotaris || Model.IsAsuransi);
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "FeeNominal";
        column.Caption = "Fee Imbalan Jasa";
        column.HeaderStyle.Font.Bold = true;
        column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        column.PropertiesEdit.DisplayFormatString = "N";
        column.Settings.ShowFilterRowMenu = DevExpress.Utils.DefaultBoolean.False;
        column.Visible = !Model.IsAsuransi;
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "JenisJasa";
        column.Caption = "Jenis Jasa Rekanan";
        column.HeaderStyle.Font.Bold = true;
        column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        column.Settings.ShowFilterRowMenu = DevExpress.Utils.DefaultBoolean.False;
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "PenanggungJawab";
        column.Caption = "Penandatangan Laporan (Partner)";
        column.HeaderStyle.Font.Bold = true;
        column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        column.Settings.ShowFilterRowMenu = DevExpress.Utils.DefaultBoolean.False;
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "TanggalMulaiPekerjaan";
        column.Caption = "Tgl Terima Order";
        column.HeaderStyle.Font.Bold = true;
        column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        column.Settings.ShowFilterRowMenu = DevExpress.Utils.DefaultBoolean.False;
        column.PropertiesEdit.DisplayFormatString = "dd/MM/yyyy";
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "TanggalSelesaiPekerjaan";
        column.Caption = "Tgl Selesai Pekerjaan";
        column.SortDescending();
        column.HeaderStyle.Font.Bold = true;
        column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        column.Settings.ShowFilterRowMenu = DevExpress.Utils.DefaultBoolean.False;
        column.PropertiesEdit.DisplayFormatString = "dd/MM/yyyy";
    });
    //settings.Columns.Add(column =>
    //{
    //    column.FieldName = "NamaPemberiPekerjaan";
    //    column.HeaderStyle.Font.Bold = true;
    //    column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
    //    column.Settings.ShowFilterRowMenu = DevExpress.Utils.DefaultBoolean.False;
    //});
    settings.Columns.Add(column =>
    {
        column.FieldName = "UnitKerja";
        column.Caption = "Unit Kerja BSM";
        column.HeaderStyle.Font.Bold = true;
        column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        column.Settings.ShowFilterRowMenu = DevExpress.Utils.DefaultBoolean.False;
    });
    //settings.Columns.Add(column =>
    //{
    //    column.FieldName = "NilaiPenutupan";
    //    column.HeaderStyle.Font.Bold = true;
    //    column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
    //    column.Settings.ShowFilterRowMenu = DevExpress.Utils.DefaultBoolean.False;
    //    column.Visible = !Model.IsGrupNonNotaris;
    //});
    //settings.Columns.Add(column =>
    //{
    //    column.FieldName = "NomorPolis";
    //    column.HeaderStyle.Font.Bold = true;
    //    column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
    //    column.Settings.ShowFilterRowMenu = DevExpress.Utils.DefaultBoolean.False;
    //    column.Visible = !(Model.IsNotaris || Model.IsGrupNonNotaris);
    //});
    //settings.Columns.Add(column =>
    //{
    //    column.FieldName = "PICRekanan";
    //    column.Caption = "PIC";
    //    column.HeaderStyle.Font.Bold = true;
    //    column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
    //    column.Settings.ShowFilterRowMenu = DevExpress.Utils.DefaultBoolean.False;
    //});
    settings.Columns.Add(column =>
    {
        column.FieldName = "PICBank";
        column.Caption = "PIC BSM";
        column.HeaderStyle.Font.Bold = true;
        column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        column.Settings.ShowFilterRowMenu = DevExpress.Utils.DefaultBoolean.False;
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "Keterangan";
        column.Caption = "Catatan";
        column.HeaderStyle.Font.Bold = true;
        column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        column.Settings.ShowFilterRowMenu = DevExpress.Utils.DefaultBoolean.False;
        column.Visible = false;
    });
}).Bind(Model.DetailPekerjaanColls).GetHtml()