@*@{
    ViewBag.Title = "Index";
}
@Html.Partial("_Index")*@

<h5>Daftar Dokumen</h5>
@Html.DevExpress().PageControl(settingsPageControl =>
{
    settingsPageControl.Name = "PageDaftarDokumen";
    settingsPageControl.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    settingsPageControl.ActiveTabIndex = @ViewBag.IsAdminDoc == false ? 0 : 1;

    settingsPageControl.TabPages.Add(tab =>
    {
        tab.Text = "Dokumen Rekanan";
        tab.Name = "_DokRekanan";
        tab.TabStyle.Width = 150;
        tab.SetContent(() =>
        {
            Html.RenderAction("_Index", "MstTypeOfDocument", new { IsAdminDoc = false });
        });
    });
    settingsPageControl.TabPages.Add(tab =>
    {
        tab.Text = "Dokumen Internal";
        tab.Name = "_DokInternal";
        tab.TabStyle.Width = 150;
        tab.SetContent(() =>
        {
            Html.RenderAction("_Index", "MstTypeOfDocument", new { IsAdminDoc = true });
        });
    });
}).GetHtml()

