@{
    ViewBag.Title = "Home Page";
}
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>
        .divContainer {
            vertical-align: middle;
            text-align: center;
            <!-- If you want horizontal center alignment; -->
        }

        .divContainer > * {
            vertical-align: middle;
        }
        .jumbotron {
            color: inherit;
            background-color: #eee;
        }
    </style>
</head>
<div>
    <div class="demo">
        <img style="height: 100%; width: 100%;" src="~/Content/Images/LatarDepan.jpg">
    </div>
</div>
