<!DOCTYPE html>
<html>
<head>
    <title>Proses Registrasi</title>
    <style>
        .item{
            text-align: center;
            font-size:large;
        }
    </style>
</head>
<body>
    <div>&nbsp;</div>
    <h3 align="center">Proses Registrasi Sudah Selesai</h3>
    <div class="item">
        <span><button type="button" class="btn btn-success btn-circle btn-xl"><i class="glyphicon glyphicon-check"></i></button></span>
    </div>
    <h4 align="center">Silahkan periksa email untuk informasi lebih lanjut</h4>
    <h4 align="center">Terimakasih</h4>
    <div>&nbsp;</div>
</body>
</html>