@using System.Web.UI.WebControls
@model IEnumerable<MVCSmartClient01.Models.trxDetailPekerjaanHeader>

@{
    ViewBag.Title = "Index";
}

@Html.DevExpress().GridView(
settings =>
{
    //settings.Name = "_PekerjaanByRek" + Guid.NewGuid().ToString();
    settings.Name = "_PekerjaanByRek";
    settings.Settings.ShowGroupPanel = true;
    settings.Settings.ShowGroupedColumns = true;

    settings.Settings.ShowFilterRow = true;
    settings.Settings.ShowFilterRowMenu = false;
    settings.CallbackRouteValues = new { Controller = "TrxDetailPekerjaanHeader", Action = "_GetByRekanan" };
    settings.Width = Unit.Percentage(100);
    settings.SettingsPager.PageSize = 10;

    settings.SetStatusBarTemplateContent(c =>
    {
        ViewContext.Writer.Write(
            "<span id=\"lblLoading\">&nbsp;</span>"
            );
    });
    settings.SetEmptyDataRowTemplateContent(c =>
    {
        ViewContext.Writer.Write(
            "No data"
            );
    });
    settings.Columns.Add(column =>
    {
        column.Caption = "#";
        column.SetDataItemTemplateContent(c =>
        {
            if (@ViewBag.IsRekanan == true)
            {
                ViewContext.Writer.Write(
                    "<table><tr><td>" +
                    Html.ActionLink("Delete", "_DelHeaderByRekanan", new { @class = "deleteLink", PekHeader = DataBinder.Eval(c.DataItem, "GuidHeader") },
                        new { onclick = "return confirm('Apakah Anda yakin akan menghapus data ini ?')" }) +
                    "</td></tr></table>"
                );
            }
            else
            {
                ViewContext.Writer.Write(
                    "<table><tr><td>" +
                    Html.ActionLink("Detail", "AddEditPekerjaanHeader", new { @class = "updateLink", GuidHeader = DataBinder.Eval(c.DataItem, "GuidHeader") }) + "&nbsp;" +
                    "</td></tr></table>"
                );
            }
        });
        column.SetHeaderTemplateContent(c =>
        {
            ViewContext.Writer.Write(
                Html.ActionLink("New", "AddEditPekerjaanHeader", new { GuidHeader = Guid.Empty, IdTipePekerjaan = ViewData["IdTipePekerjaan"] }).ToHtmlString()
            );
        });
        column.Width = 70;
    });

    settings.KeyFieldName = "IdPekerjaanHeader";

    //DISPLAY ROW NUMBER
    settings.Columns.Add(column =>
    {
        column.FieldName = "No.";
        column.UnboundType = DevExpress.Data.UnboundColumnType.Integer;
        column.Width = 10;
        column.Settings.AllowAutoFilter = DefaultBoolean.False;
    });
    settings.CustomColumnDisplayText = (sender, e) =>
    {
        if (e.Column.FieldName == "No.")
        {
            e.DisplayText = (e.VisibleRowIndex + 1).ToString();
        }
    };
    settings.Columns.Add(column =>
    {
        column.FieldName = "IdPekerjaanHeader";
        column.Caption = "ID Dokumen";
        column.Width = 150;
        column.HeaderStyle.Font.Bold = true;
        column.HeaderStyle.HorizontalAlign = HorizontalAlign.Center;
        column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        column.Settings.ShowFilterRowMenu = DevExpress.Utils.DefaultBoolean.False;
        column.SortOrder = DevExpress.Data.ColumnSortOrder.Descending;
        column.Visible = false;
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "JudulDokumen";
        column.Caption = "Keterangan";
        column.HeaderStyle.Font.Bold = true;
        column.HeaderStyle.HorizontalAlign = HorizontalAlign.Center;
        column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        column.Settings.ShowFilterRowMenu = DevExpress.Utils.DefaultBoolean.False;
        //column.SortOrder = DevExpress.Data.ColumnSortOrder.Descending;
    });
}).Bind(Model).GetHtml()


