
@using System.Web.UI.WebControls
@model MVCSmartClient01.Models.sentCaptionForm
@{
    var callbackRouteValues = new { Controller = "TrxNotificationHeader", Action = "_TraySentCaption" };
}

@Html.DevExpress().GridView(
settings =>
{
    settings.Name = "gridTraySent";
    settings.Settings.ShowGroupPanel = true;
    settings.Settings.ShowGroupedColumns = true;

    settings.Settings.ShowFilterRow = true;
    settings.Settings.ShowFilterRowMenu = false;
    settings.CallbackRouteValues = new { Controller = "TrxNotificationHeader", Action = "_TraySentCaption" };
    settings.Width = Unit.Percentage(100);

    settings.SetStatusBarTemplateContent(c =>
    {
        ViewContext.Writer.Write(
            "<span id=\"lblLoading\">&nbsp;</span>"
            );
    });
    settings.SetEmptyDataRowTemplateContent(c =>
    {
        ViewContext.Writer.Write(
            "No data"
            );
    });
    settings.Columns.Add(column =>
    {
        column.Caption = "#";
        column.SetDataItemTemplateContent(c =>
        {
            ViewContext.Writer.Write(
                "<table><tr><td>" +
                Html.ActionLink("Detail", "_ReadInfoByIdNotificationHead", new { @class = "updateLink", IdNotification = DataBinder.Eval(c.DataItem, "IdNotification") }) + "&nbsp;"
                + "</td></tr></table>"
            );
        });
        column.Width = 70;
    });

    settings.KeyFieldName = "IdNotification";
    settings.Columns.Add(column =>
    {
        column.FieldName = "CaptionInfo";
        column.Caption = "Judul Notifikasi";
        column.HeaderStyle.Font.Bold = true;
        column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        column.Settings.ShowFilterRowMenu = DevExpress.Utils.DefaultBoolean.False;
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "IdTipeNotification";
        column.Caption = "Tipe Notifikasi";
        column.HeaderStyle.Font.Bold = true;
        column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        column.Settings.ShowFilterRowMenu = DevExpress.Utils.DefaultBoolean.False;
        column.Width = 150;
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "IdLevelUrgensi";
        column.Caption = "Tingkat Urgensi";
        column.HeaderStyle.Font.Bold = true;
        column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        column.Settings.ShowFilterRowMenu = DevExpress.Utils.DefaultBoolean.False;
        column.ColumnType = MVCxGridViewColumnType.ComboBox;
        var comboBoxProperties = (DevExpress.Web.ASPxEditors.ComboBoxProperties)column.PropertiesEdit;
        comboBoxProperties.ClientSideEvents.Init = "function(s, e) {s.InsertItem(0, '(ALL)', '');}";
        comboBoxProperties.DataSource = Model.LevelUrgensiColls;
        comboBoxProperties.TextField = "RefDescription";
        comboBoxProperties.ValueField = "RefId";
        comboBoxProperties.ValueType = typeof(int);
        column.Width = 150;
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "SudahBaca";
        column.Caption = "Total Sudah Dibaca";
        column.HeaderStyle.Font.Bold = true;
        column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        column.Settings.ShowFilterRowMenu = DevExpress.Utils.DefaultBoolean.False;
        column.Width = 150;
    });
    settings.Columns.Add(column =>
    {
        column.FieldName = "BelumBaca";
        column.Caption = "Total Belum Dibaca";
        column.HeaderStyle.Font.Bold = true;
        column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        column.Settings.ShowFilterRowMenu = DevExpress.Utils.DefaultBoolean.False;
        column.Width = 150;
    });
    settings.SettingsDetail.ShowDetailRow = true;
    settings.SettingsDetail.AllowOnlyOneMasterRowExpanded = false;

    settings.SetDetailRowTemplateContent(c =>
    {
        Html.RenderAction("_TraySentDetail", new { IdNotification = DataBinder.Eval(c.DataItem, "IdNotification"), IdTipeSaluran = 1 });
    });

}).Bind(Model.SentCaptionColls).GetHtml()
