@model MVCSmartClient01.Models.trxManagementForm

<ul class="attachment">
    <li>
        <a class="title" href="~/Content/DocumentImages/042ecf79-2aad-4293-9520-335bc1a77658_KTP.png">@ViewBag.ImageBaseName</a>
        <a href="javascript:void(0);" data-id="123" class="deleteItem">X</a>
    </li>
</ul>
